html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
   font-family: 'Roboto Condensed', sans-serif;
  line-height: 1.7;
  perspective-origin: 0% 50%; /*Właściwość określa, z którego na stanowisko użytkownik patrzy na element 3D położenie.*/
  perspective: 800px;/*Właściwość jest używany w celu uzyskania elementu 3D umieszczona w pewnej perspektywy.*/
  background: #21212d;
    
}
nav, main {
  transition: transform 150ms ease-out; /*określ właściwość czasu przejścia , w przeciwnym razie czas trwania wynosi 0s */
}
nav {
  z-index: 100; /* określa warstwe na stronie */
  position: absolute;/* pozycjonowanie elementu*/
  top: 0;
  left: 0;
  bottom: 0;
  width: 16em;
  background-color: #353441;
  transform: translateX(-16em); /* właściwość umożliwia obracanie, skalowanie, przesuwanie, pochylanie itp.*/
}
nav.menu-active {
  transform: translateX(0);
}
nav.menu-hover {
  transform: translateX(-15em);
}
nav h1 {
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  right: -65px;
  height: 60px;
  width: 65px;
  line-height: 60px;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #353441;
  cursor: pointer;
}
nav h1:hover {
  color: #353441;
  background: #fff;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav li {
  display: inline-block;
  padding: 0 1em;
  width: 100%;
  height: 60px;
  color: #9dc6d1;
  line-height: 60px;
  background-color: #353441;
    transition: all 0.5s ease-in;
}
nav li:nth-of-type(2n) {
  background-color: #3a3947;
}
nav li:hover {
  background: ORANGERED;
    color: white;
     
}
a{
	color:white;
	text-decoration: none;
}
a:hover{
	color: #1c59bc;
}
main {
  z-index: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-image: url(morze.jpg);
  transform-origin: 0% 50%;
    background-size: cover;
}
main:after {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, transparent, rgba(33, 33, 45, .5));
  visibility: hidden;
  opacity: 0;
  transition: opacity 150ms ease-out, visibility 0s 150ms;
}
main.menu-active {
  border-radius: 0.001px;
  transform: translateX(16em) rotateY(15deg);
}
main.menu-active:after {
  visibility: visible;
  opacity: 1;
  transition: opacity 150ms ease-out, visibility 0s;
}
main.menu-hover {
  border-radius: 0.001px;
  transform: translateX(1em) rotateY(1deg);
}
main section {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding: 1em 4em;
  max-width:850px;
  overflow: auto;
  background-color: rgba(255, 255, 255, .5);
}
section h1 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
}
section p {
  display: inline-block;
  margin: 16px 0;
}
/*pudełko pierwsze*/
div.pudelkoPierwsze{
	width: 250px;
	height: 300px;
	margin:  5px;
	border: 10px solid red;
	background-color: green;
	perspective: 300px;
	display: inline-block;
    text-align: center;
	position: relative;
	left: 80px;
}
/*pudełko drugie*/
 div.pudelkoDrugie{
	width: 250px;
	height: 300px;
	margin:  5px;
	border: 10px solid red;
	background-color: green;
	perspective: 300px;
	display: inline-block;
    text-align: center;
    position: relative;
	left: 120px;
}
/*pudełko trzecie*/
div.pudelkoTrzecie{
	width: 250px;
	height: 300px;
	margin:  5px;
	border: 10px solid red;
	background-color: green;
	perspective: 300px;
	display: inline-block;
    text-align: center;
	position: relative;
	left: 80px;
	top: 30px;
}
/*pudełko czwarte*/
div.pudelkoCzwarte{
	width: 250px;
	height: 300px;
	margin:  5px;
	border: 10px solid red;
	background-color: green;
	perspective: 300px;
	display: inline-block;
    text-align: center;
	position: relative;
	left: 120px;
	top: 30px;
}

/*karta pierwsza*/
div.kartaPierwsza{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: blue;
	text-align: center;
	transition:1s;
	transform-style: preserve-3d;
}
/*karta druga*/
div.kartaDruga{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: blue;
	text-align: center;
	transition:1s;
	transform-style: preserve-3d;
}
/*karta trzecia*/
div.kartaTrzecia{
	position: relative;
	width: 100%;
	height: 100%;
	background-color: blue;
	text-align: center;
	transition:1s;
	transform-style: preserve-3d;
}
/*karta czwarta*/
div.kartaCzwarta {
	position: relative;
	width: 100%;
	height: 100%;
	background-color: blue;
	text-align: center;
	transition:1s;
	transform-style: preserve-3d;
}
/*frontFirst i backFirst*/
div.frontFirst{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: pink;
	backface-visibility: hidden;
}
div.backFirst{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: orange;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
/*frontSecond i backSecond*/
 div.frontSecond{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: pink;
	backface-visibility: hidden;
}
 div.backSecond{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #edebea;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
/*frontThird i backThird*/
div.frontThird{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: pink;
	backface-visibility: hidden;
}
div.backThird{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #16cbf4;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}
/*frontFourth i backFourth*/
div.frontFourth{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: pink;
	backface-visibility: hidden;
}
div.backFourth{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #0bc631;
	transform: rotateY(180deg);
	backface-visibility: hidden;
}


div.pudelkoPierwsze:hover > div.kartaPierwsza{
	 transform:rotateY(180deg);
}
 div.pudelkoDrugie:hover >  div.kartaDruga  {
	 transform:rotateY(180deg);
}
div.pudelkoTrzecie:hover  > div.kartaTrzecia  {
	 transform:rotateY(180deg);
}
 div.pudelkoCzwarte:hover > div.kartaCzwarta {
	 transform:rotateY(180deg);
}

a.ein{
	text-align: center;
	background-color: #9da2ad;
	padding: 12px 16px;
	position: relative;
	top: 100px;
}
ul.zwei{
	list-style-type: none;
}
